.raboti {
  margin-top: 90px;
}

.raboti__top {
  h2 {
    @include first__text;
    padding-bottom: 20px;
  }
  p {
    @include third__text;
  }
}

.raboti__bottom {
  @include flex--first;
  gap: 30px;
}

.raboti__bottom--border {
  max-width: 393px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 15px 0px #0000001f;
  margin-top: 60px;
}

.border__text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  h3 {
    @include second__text;
    padding-bottom: 15px;
  }

  p {
    @include third__text;
  }
}

.border__text2 {
  @include more;
  font-weight: 600 !important;
  color: $firts__text--color !important;
}

.raboti__bottom--border {
  display: block;
}

@media (max-width: 890px) {
  .raboti {
    margin-top: 60px;
  }
  .raboti__bottom {
    display: grid;
    grid-template-columns: repeat(100%);
    gap: 20px;
  }
  .raboti__bottom--border {
    max-width: 100% !important;
  }

  .raboti__top {
    h2 {
      @include first__text2(37px, 50px);
      padding-bottom: 20px;
    }
    p {
      @include third__text2(14px, 20px);
      br {
        display: none;
      }
    }
  }
}

@media (max-width: 400px) {
  .raboti {
    margin-top: 40px;
  }
  .raboti__top {
    h2 {
      @include first__text2(26px, 40px);
      padding-bottom: 15px;
    }
    p {
      @include third__text2(14px, 20px);
    }
  }
  .raboti__bottom--border2 {
    display: none;
  }
}
